<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-wideth, initial-scale-1, shrink-tofit=no">
	<title>NumJudgApp</title>
	
	<!--CSS読み込み-->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/numJudg.css}">

	<!--JS読み込み-->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	
</head>
<body>
	<div class="text-center">
			<form method="post" th:action="@{/result}" th:object="${todoAddForm}" class="form-Numjudg">
				<h1 class="h1 mt-5">数字判定アプリ</h1>
				<br />
			
				<!--数値入力欄-->
				<div class="form-group">
					<label for="inputnum" class="font-weight-bold" th:text="数値入力："></label>
					<input id="inputnum" type="text" class="form-control text-center">
				</div>
				
				<!--判定ボタン-->
				<input type="submit" th:value="判定" class="btn btn-primary mt-3"/>
			</form>
		</div>
</body>
</html>